@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">We know why you're here...</h1>
        <p>Have you or a loved one been involved in a LaunchCode Class?</p>
    </div>
